<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Russian</string>
	<key>CFBundleExecutable</key>
	<string>Russian Movie Agent</string>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.themoviedbru</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>PlexAgentAttributionText</key>
	<string>
	  Агент для получения информации о медиа файлах с сайта
    &lt;a href=&quot;http://www.themoviedb.org&quot;&gt;themoviedb.org&lt;/a&gt;
    - открытой и бесплатной базы данных. Ежемесячно, базой данных TMDb пользуются
    миллионы людей.
	</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>

  <!-- Logging configuration. REMOVE for Release. -->
  <key>PlexPluginConsoleLogging</key>
  <string>0</string> <!-- 0 - Off; 1 - On; -->
  <key>PlexPluginLogLevel</key>
  <string>Critical</string>  <!-- Critical, Error, Warning, Info, Debug. -->
</dict>
</plist>
